@charset "utf-8";

html {
  font-size: 48px;
}

body {
  background-color: black;
  overflow: hidden;
}

.body-background {
  background-image: url("../images/Background-Dark.jpg");
  background-repeat: repeat;
}

h1 {
  font-family: 'Cinzel', serif;
	color: #BB0000;
	font-weight: 500;
	font-size: 1rem;
	padding: 0;
	margin-bottom: .1rem;
  text-align: left;
}

h2 {
  font-family: 'Cinzel', serif;
	color: #BB0000;
	font-weight: 400;
	font-size: .75rem;
  margin-bottom: .1rem;
  margin-top: .1rem;
}

h3 {
  font-family: 'Cinzel', serif;
	color: #BB0000;
	font-weight: 400;
	font-size: .50rem;
  margin-bottom: .1rem;
  margin-top: .1rem;
}

/* Dynamic behavior of links */
a:link {
	color: #900;
	text-decoration: underline;
}

a:hover, a:active, a:focus {
    color: #900;
	  text-decoration: none;
    font-weight: 400;
}

.thumbnail-caption {
    color: steelblue;
    width: 200px;
    font-weight: 400;
    font-size: medium;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.thumbnail-image {
  border-radius: 4px;
  /* border-radius: 50%;   */
}

.gallery-thumbnail {
    padding-right: .25rem;
    padding-bottom: .25rem;
    width: 200px;
    float: left;
}

.gallery-entry {
  margin: .5rem;
  padding: .5rem;
  overflow: hidden;
}

.category {
	vertical-align: top;
	padding-left: .25rem;
  max-width: 12rem;
  min-width: 6rem;
}

.banner {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width:100%;
  max-height:2rem;
}

.auto-size-img {
  max-width:100%;
  max-height:100%;
}

/* Single Image Page Styles */

.main-image-frame {
    position: fixed;
    /* width and height must be adjusted at runtime
    to min(window.innerWidth, window.innerHeight) */
    width: 300px;
    height: 300px;
    left: 0;
    top: 0;
    z-index: 0;
    display: none;
}

.main-image {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.labels {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: transparent;
  position: absolute;
}

.moon {
  z-index: 1;
  background-color: transparent;
  opacity: 1;
  position: absolute;
}

.object-overlay {
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    height: .25rem;    
    z-index: 1;
}

.object-title {
    font-family: 'Cinzel', serif;
    color: #BB0000;
    font-weight: 500;
    font-size: .75rem;
    padding: .1rem;
    margin-bottom: .1rem;
    margin-top: 0;
    margin-left: .1rem;
    text-align: left;
    z-index: 1;
}

.label {
  font-family: 'Cinzel', serif;
  color: #BB0000;
  font-weight: 500;
  font-size: 200%;
}

.gallery-label {
  font-family: 'Cinzel', serif;
  color: #BB0000;
  font-weight: 500;
  font-size: 300%;
}

/* Footers for all pages but images */

.footer {
  height: .15rem;
  width: 100%;
  z-index: 1;
  position: fixed;
  bottom: 0;
  background-color: transparent;
}

.footer-text {
  clear: left;
  float: left;
  font-size: .15rem;
  color: darkgray;
  z-index: 1;
  margin-left: .1rem;
}

/* Footers for the image page */

.image-footer {
  position: absolute;
  z-index: 2;
  max-height: .66rem;
  min-height: .33rem;
  height: 5%;
  width: 100%;
  bottom: 0;
}

.image-footer-banner {
  position: absolute;
  z-index: 2;
  width: 40%;
  bottom: 0;
}

.image-footer-text {
  position: absolute;
  width: 40%;
  bottom: 0;
  right: 20%;
  font-size: .15rem;
  text-align: right;
  color: darkgray;
  background-color: transparent;
  z-index: 2;
  margin-bottom: .125rem;
}

.image-footer-dcma {
  position: absolute;
  width: 20%;
  bottom: 0;
  right: .083rem;
  font-size: 60%;
  text-align: right;
  color: darkgray;
  background-color: transparent;
  z-index: 2;
  margin-bottom: .083rem;
}

/* Toolbar Styles */

.toolbar {
  position: relative;
  display: inline;
  margin: 0rem;
  z-index: 2;
  float: left;
  min-width: 1rem;
  max-width: 1rem;
  max-height: 20rem;
  min-height: 10rem;
}

.tool {
  width: 1rem;
  height: 1rem;
  border-width: 0rem;
  border-radius: .083rem;
  text-align: center;
  background-color: transparent;
  border-color: #646464;
  outline: none;
  color: #BB0000;
  z-index: 1;
}

.tool:hover {
  background-color: #323232;
  color: #BB0000;
}

.content-frame {
  position: fixed;
  display: inline;
  overflow: auto;
  left: 0rem;
  top: 0rem;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.content-text {
  position: relative;
  color: silver;
  z-index: 1;
  overflow: visible;
  height: 100%;
  max-width: 16rem;
  min-width: 6rem;
  margin: .15rem;
}

.content {
  position: relative;
  color: silver;
  z-index: 1;
  overflow: visible;
  height: 100%;
}

.content-gallery {
  position: relative;
  display: inline;
  color: silver;
  z-index: 1;
  overflow: visible;
}

.narrative-text {
  font-family: 'Raleway', sans-serif;
  color: silver;
  font-size: .3rem;
  font-weight: 300;
  margin-bottom: .1rem;
}

.tall-image {
  height: 100%;
  max-height: 20rem;
}

.wide-image {
  width: 100%;
  max-width: 20rem;
}

/* Styles for image details popup */
.image-details {
  position: fixed;
  left: 1rem;
  top: 1.1rem;
  width: 30%;
  padding: .15rem;
  min-width: 6.25rem;
  max-width: 6.25rem;
  border-radius: .083rem;
  background-color: rgba(64,64,64,.60);
  display: none;
  /*Use visible | hidden to toggle*/
}

.image-detail-hr {
  background-color: #646464;
  height: 1px;
  border: 0;
  margin: .1rem;
}

.content-hr {
  background-color: #BB0000;
  height: 1px;
  border: 0;
  margin: 0;
}

#image-description {
  font-size: small;
  font-style: italic;
  color: #B0BFBF;
  margin: .1rem;
}

#more-details {
  text-align: left;
  font-size: medium;
  font-style: italic;
  color: #BB0000;
}

.table-title {
  color: #BB0000;
  font-weight: 700;
  text-align: left;
  font-size: medium;
  margin: 0 0 0 0;
}

#table-details {
  margin: .15rem;
}

.detail-name {
  font-weight: 500;
  text-align: left;
  font-size: small;
  color: silver;
  width: 110px;
}

.detail-value {
  text-align: left;
  font-size: small;
  font-style: italic;
  font-weight: 300;
  color: #B0BFBF;
}

/* Overrides for small form-factor devices */
@media all and (max-width: 480px) {
  .image-footer-text {
    width: 60%;
    right: 0;
    font-size: .15rem;
    bottom: 0;
  }

  .image-footer-dcma, #previous, #next, #tech, #fit, #max {
    display: none;
  }

  .category {
    display: none;
  }

  .image-details {
    min-width: 5rem;
    max-width: 5rem;
  }

  #image-description, #more-details, .detail-name, .detail-value {
    /* font-size: x-small; */
    font-size: .25rem;
  }
  
  .table-title {
    font-size: small;
  }
  
}

@media all and (min-width: 960px) {
  .image-footer-text {
    font-size: .25rem;
  }

  .object-title {
    font-size: 1rem;
  }
}